<table class="table" *ngIf="cars">
  <thead>
  <tr>
    <th (click)="orderBy('model')">Model</th>
    <th (click)="orderBy('wheels')">Wheels</th>
    <th (click)="orderBy('color')">Color</th>
    <th (click)="orderBy('price')">Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let car of cars">
    <td>{{car.model}}</td>
    <td>{{car.wheels}}</td>
    <td [ngStyle]="{'background-color': car.color}">{{car.color}}</td>
    <td>{{car.price | currency:'EUR':true}}</td>
    <td>
      <a [routerLink]="[car.id]">View</a> | <a routerLink="/cars/{{car.id}}/edit">Edit</a>
    </td>
  </tr>
  </tbody>
</table>

<a routerLink="/cars/new" routerLinkActive="active" class="btn btn-primary">New Car</a>
