<form *ngIf="car" [formGroup]="carForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model" placeholder="Enter car model" formControlName="model">
  </div>
  <div class="form-group">
    <label for="wheels">Wheels</label>
    <input type="number" class="form-control" id="wheels" placeholder="Enter car wheel count" formControlName="wheels">
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color" placeholder="Enter car color" formControlName="color">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" step="0.01" class="form-control" id="price" placeholder="Enter car price" formControlName="price">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="carForm.invalid">Submit</button>
</form>